.venv

dataviz/transaction_dashboard.pbix

datasource/*
!datasource/.gitkeep
datasource/dont_read/*
!datasource/dont_read/.gitkeep
datasource/to_db/*
!datasource/to_db/.gitkeep
datasource/to_db/global_file/*
!datasource/to_db/global_file/.gitkeep

datalake/datanode1/*
!datalake/datanode1/.gitkeep

datalake/namenode/*
!datalake/namenode/.gitkeep

datamart/*
!datamart/.gitkeep

datawarehouse/*
!datawarehouse/.gitkeep